<nav class="grey black">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">TeacherStories</a>
            <a href="#" data-target="main-menu" class="button-collapse sidenav-trigger show-on-large left"><i class="fas fa-bars"></i></a>

            <!--right nav -->
            <ul class="right hide-on-small-only">
                {{#if user}}
                  <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
                  <li><a href="/auth/logout"> <i class="fas fa-sign-out-alt"></i>Logout</a></li>
                {{else}}
                    <li><a href="/stories"> <i class="fas fa-book"></i> Public Stories </a></li>
                {{/if}}
            </ul>
<!--side menu -->
                <ul class="sidenav" id="main-menu">
                        {{#if user}}

                        {{else}}
                        <li>
                        <a class="btn red darken-1" href="/auth/google"></i> Google Login<i class="fab fa-google right"></i></a>
                        </li>
                        {{/if}}
                     <li><a href="/stories"><i class="fa fa-book"></i> Public Stories</a></li>
                         <li class="divider"></li>
                             {‌{#if user}}
                              <li><a href="/dashboard"><i class="fa fa-cog"></i> Dashboard</a></li>
                                 <li><a href="/stories/my"><i class="fa fa-user"></i> My Stories</a></li>
                                     <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                        {‌{/if}}
                </ul>

        </div>
    </div>
  </nav>